Source: btsync
Section: net
Priority: extra
Maintainer: Leo Moll <leo.moll@yeasoft.com>
Build-Depends: debhelper (>= 7.0.50), po-debconf
Standards-Version: 3.9.4
Vcs-Git: https://github.com/tuxpoldo/btsync-deb.git
Vcs-browser: https://github.com/tuxpoldo/btsync-deb
Homepage: http://www.bittorrent.com/sync

Package: btsync
Architecture: all
Pre-Depends: debconf | debconf-2.0
Depends: libc6, btsync-common (>= 1.2.73-1)
Provides: btsync-server-daemon
Description: Private network P2P file synchronisation daemon(s)
 BitTorrent Sync is a simple tool that applies p2p protocol for
 direct live folder sync with maximum security, network speed and
 storage capacity. It has native versions for Mac, Windows and
 Linux, as well as native NAS integration.
 .
 This package installs BitTorrent Sync as a single or multiple
 service with or without WebUI for server/NAS deployment.
