[Desktop Entry]
Name=BitTorrent Sync
Comment=Synchronize your folders with maximum security, network speed and storage capacity
Exec=btsync-gui
Icon=btsync-gui
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;GTK;
