Source: btsync-gui
Section: net
Priority: extra
Maintainer: Leo Moll <leo.moll@yeasoft.com>
Build-Depends: debhelper (>= 7.0.50), curl,intltool
Standards-Version: 3.9.4
Vcs-Git: https://github.com/tuxpoldo/btsync-deb.git
Vcs-browser: https://github.com/tuxpoldo/btsync-deb
Homepage: http://www.yeasoft.com/site/projects:btsync-deb:btsync-user

Package: btsync-gui-gtk
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python,
 python-gi, gir1.2-gtk-3.0, gir1.2-pango-1.0,
 python-dbus, python-requests, python-qrencode,
 btsync-common
Provides: btsync-user-application
Replaces: btsync-user
Breaks: btsync-user
Description: Full GTK based Linux GUI for BitTorrent Sync
 BitTorrent Sync is a simple tool that applies p2p protocol for
 direct live folder sync with maximum security, network speed
 and storage capacity. It has native versions for Mac, Windows
 and Linux, as well as native NAS integration.
 .
 THIS PACKAGE IS UNOFFICIAL AND NOT THE WORK OF BITTORRENT INC.
 PLEASE DO NOT CONTACT THE BITTORRENT INC. SUPPORT WITH
 QUESTIONS OR PROBLEMS RELATED TO THE USE OF THE PACKAGES. YOU
 WILL FIND COMPETENT HELP AND SUPPORT IN THE RELATED DISCUSSION
 THREAD IN THE SUPPORT FORUM (http://goo.gl/Bljx0b)
 .
 This package installs BitTorrent Sync as a full featured GUI
 application based on GTK.

Package: btsync-gui
Architecture: all
Depends: btsync-gui-gtk, gir1.2-appindicator3-0.1
Description: Full GTK based Linux GUI for BitTorrent Sync
 BitTorrent Sync is a simple tool that applies p2p protocol for
 direct live folder sync with maximum security, network speed
 and storage capacity. It has native versions for Mac, Windows
 and Linux, as well as native NAS integration.
 .
 THIS PACKAGE IS UNOFFICIAL AND NOT THE WORK OF BITTORRENT INC.
 PLEASE DO NOT CONTACT THE BITTORRENT INC. SUPPORT WITH
 QUESTIONS OR PROBLEMS RELATED TO THE USE OF THE PACKAGES. YOU
 WILL FIND COMPETENT HELP AND SUPPORT IN THE RELATED DISCUSSION
 THREAD IN THE SUPPORT FORUM (http://goo.gl/Bljx0b)
 .
 This dependency package installs BitTorrent Sync as a full
 featured GUI application based on GTK using the appindicator
 library for desktops not supporting GTK.TrayIcon (like Unity)

